body {
    margin: 0;
    text-align: center;
}


@font-face {
    src: url("PocketCalculator.ttf");   /* Ссылка на шрифт */ 
    font-family: Calculator;    /* Какое название я ему даю */
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: white;
    margin: 50px 0 16px 0;
}

.container {
    display: flex;
    justify-content: space-around;
    background: rgb(30, 30, 73);

}

.score-number{
    font-family: Calculator;  
    font-size: 100px;
    background: black;
    color: rgb(201, 75, 75);
    padding: 10px 40px;
    margin: 0 0 20px 0;
    border-radius: 10px;
}

.score-btn{
    width: 60px;
    height: 60px;
    font-family: Calculator;  
    font-size: 30px;
    border: 2px solid rgb(161, 188, 255);
    color: rgb(161, 188, 255);
    background: none;
    border-radius: 8px;
    margin: 0 5px 40px 5px;
}

#new-game-btn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid rgb(161, 188, 255);
    background: none;
    border-radius: 8px;
    font-size: 30px;
    font-size: 20px;
    color: rgb(161, 188, 255);
    padding: 10px;
    font-weight: bold;
    margin: 0 0 50px 0;
}